---
interface Props {
  title: string;
  icon?: string;
}

const { title, icon = "list", ...rest } = Astro.props;
---

<div class="h-100 card bg-transparent feature-card mb-2" data-aos="fade-up" {...rest}>
  <div class="card-body d-flex">
    <div>{icon && <i class={'badge-circle p-2 bg-primary text-white ' + icon}></i>}</div>
    <div class="ms-3">
      <h5 class="card-title mb-2">{title}</h5>
      <slot />
    </div>
  </div>
</div>

<style is:global>
  .feature-card {
    --bs-card-title-color: var(--bs-heading-color);
    border: none;
  }

  .feature-card i {
    font-size: 1.5rem;
  }
</style>
