---
import { Image } from "astro:assets";
interface Props {
  title: string;
  icon?: string;
}

const { title, icon = "list", ...rest } = Astro.props;
---

<div class="h-100 feature-card" data-aos="fade-up" {...rest}>
  <div class="card-body d-flex">
    {icon && <i class={icon}></i>}
    <div class="ms-3">
      <h5 class="card-title">{title}</h5>
      <slot />
    </div>
  </div>

  <style>
    .icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }
  </style>
</div>

<style is:global>
  .feature-card {
    --bs-card-title-color: var(--bs-primary);
  }

  .feature-card i {
    font-size: 2rem;
    color: var(--bs-primary);
  }
</style>
