---
const isHome = Astro.url.pathname === "/";
const pricingLink = isHome ? "#pricing" : "/pricing";
---

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-sm">
    <a class="navbar-brand" href="#">
      <img src="/logo-transparent-sm.png" alt="Logo" width="120" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <navbar-collapse id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={pricingLink}>Pricing</a>
        </li>
      </ul>
    </navbar-collapse>
    <navbar-nav class="ms-auto">
      <a class="nav-link" href="https://github.com/bivektor/reportviz">
        <img src="/github-logo.png" alt="Github" style="width: 40px;" />
      </a>
    </navbar-nav>
  </div>
</nav>
