---
import PricingCard from "../PricingCard.astro";
---
<PricingCard title="Developer" {...Astro.props}>
  <ul class="check-list">
    <li>Free to use for development and evaluation</li>
    <li>Access to full SDK features</li>
    <li>Source code included for reference and debugging</li>
  </ul>
  <slot />
</PricingCard>
