---
import PricingCard from "../PricingCard.astro";
---

<PricingCard title="Commmercial" price="$399" {...Astro.props}>
  <ul class="check-list">
    <li>
      Licensed for use in a single closed-source and commercial application
    </li>
    <li>Access to full SDK features</li>
    <li>Actively maintained and updated</li>
    <li>Full source code access</li>
    <li>Includes minor version upgrades</li>
    <li>No GPL copyleft requirements</li>
  </ul>
</PricingCard>
