---
import PricingCard from "../PricingCard.astro";
---
<PricingCard title="Community" {...Astro.props}>
  <ul class="check-list">
    <li>Free to use in an open-source or GPL-compatible project</li>
    <li>Access to full SDK features</li>
    <li>Actively maintained and updated</li>
    <li>Full source code access</li>
  </ul>
</PricingCard>
