---
import PricingCard from "../PricingCard.astro";
const isPricingPage = Astro.url.pathname === "/pricing";
import { getStripeConfig } from "../../config";

const supportLink = isPricingPage ? "Standard Support" :  `<a href="/pricing">Standard Support</a>`;

const { button = false } = Astro.props;
---

<PricingCard title="Production" price="$549" {...Astro.props}>
  <ul class="check-list">
  <li>
    Licensed for use in a single application per end-customer.
  </li>
  <li>Access to full SDK features</li>
  <li>Actively maintained and regularly updated</li>
  <li>Source code included for reference and debugging</li>
  <li>Includes all minor version upgrades</li>
  <li>Includes 6 months of <Fragment set:html={supportLink} /> limited to 4 support requests</li>
</ul>

  {button && (
    <div class="d-grid mt-4">
      <a
        href={getStripeConfig().sdkPaymentLink}
        class="btn btn-primary btn-lg"
        >Buy Now</a
      >
    </div>
  )}
</PricingCard>
